h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

.container {
  pointer-events: all;
  padding: var(--general-spacing);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--background-color);
}

.title {
  display: flex;
  flex-direction: row-reverse;
  line-height: 2;
}

.title_toggle {
  padding-bottom: var(--general-spacing);
  margin-bottom: calc(var(--general-spacing) * 2);
  border-bottom: 2px solid white;
}

.title h1 {
  margin: 0;
}

.header {
  border-bottom: 1px solid white;
  padding-bottom: var(--general-spacing);
  margin-bottom: var(--general-spacing);
}

.header:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.hover {
  transition: color 0.3s;
}

.hover:hover {
  color: var(--highlight-color);
}

.title_text {
  flex: 1;
}

.draggable {
  position: relative;
}

.draggable .title {
  cursor: grab;
}

.dragging .title {
  cursor: grabbing;
}

.group {
  border-top: 1px dashed white;
  border-inline: 1px dashed white;

  padding: var(--general-spacing);
}

.group:last-of-type {
  border-bottom: 1px dashed white;
}

.input {
  display: flex;
  flex-direction: row;
}

.input label {
  margin-right: var(--general-spacing);
}

.input input,
.input select {
  width: 100%;
  flex: 1 1 0;
  min-width: 0px;
}

.input input[type="checkbox"] {
  margin-inline: 0;
  min-width: 20px;
  flex: 0;
}

/* .input input {
  flex: 1 1 0;
  min-width: 0;
}



.input label:first-child {
  flex: 0 1 auto;
  margin-left: 0;
} */

.full {
  flex: 1;
  white-space: nowrap;
  width: 100%;
  min-width: max-content;
}

dialog:has(.container) {
  background-color: transparent;
}
