.core-div {
  color: var(--text-color);
  background-color: var(--background-color);

  border: 1px solid transparent;
  border-radius: 5px 20px;
}

button.core {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 5px;

  color: var(--text-color);
  background-color: var(--background-color);

  border: 1px solid transparent;
  border-radius: 4px 15px;
  transition: box-shadow 0.2s;

  height: 40px;
}

button.core:hover {
  box-shadow: inset -1em 1em 2em var(--highlight-color);
}

button.core.selected {
  border: 1px solid var(--highlight-color);
  outline: none;
}

button.core.large {
  font-size: 1.25rem;
  height: 50px;
}

button.core.small {
  font-size: 0.8rem;
  height: 30px;
  border-radius: 3px 10px;
}

.panel-old.base {
  background-color: var(--background-color);
}

.panel-old.wide {
  width: 750px;
}

.square {
  aspect-ratio: 1;
}

.core-hover {
  transition: box-shadow 0.2s;
}

.core-hover:hover {
  box-shadow: inset 0em -1em 2em var(--highlight-color);
}

.core-hover:active {
  background-color: var(--highlight-color);
}
