.core-div {
  color: var(--text-color);
  background-color: var(--background-color);

  border: 1px solid transparent;
  border-radius: 5px 20px;
}

button.core {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 5px;

  color: var(--text-color);
  background-color: var(--background-color);

  border: 1px solid transparent;
  border-radius: 4px 15px;
  transition: background-color 0.2s;

  height: 40px;
}

button.core:hover {
  background-color: color-mix(in srgb, var(--highlight-color) 50%, var(--background-color) 50%);
  border: 1px solid transparent;
}

button.core:focus {
  background-color: var(--highlight-color);
  border: 1px solid black;
}

button.core.selected {
  border: 1px solid var(--highlight-color);
  outline: none;
}

button.core.s {
  font-size: 0.8rem;
  height: 30px;
  border-radius: 3px 10px;
}

button.core.fit {
  height: inherit;
  border-radius: 10% 33.3%;
}

button.core.xs {
  height: 25px;
  border-radius: 3px 10px;
}

button.core.lg {
  font-size: 1.25rem;
  height: 50px;
}

.square {
  margin-top: auto;
  width: auto;
  aspect-ratio: 1;
  margin-bottom: auto;
}

.core-hover {
  transition: box-shadow 0.2s;
}

.core-hover:hover {
  box-shadow: inset 0em -1em 2em var(--highlight-color);
}

.core-hover:active {
  background-color: var(--highlight-color);
}
