:root {
  height: 100%;
  width: 100%;
  font-size: 10pt;

  font-family: monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --secondary-color-1: #21295f;

  --background-color-1: #23272f;
  --background-color-2: #21295f;

  --background-color: #23272fba;

  --text-color: #ffffff;
  --highlight-color: #87f1ff;

  --general-spacing: 10px;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body,
#app {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

input,
canvas {
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
} */

button {
  font: inherit;
}

dialog {
  border: 0;
}

svg {
  width: 1em;
  height: 1em;
}

input {
  font-family: inherit;
}

.interface {
  position: absolute;
  box-sizing: border-box;
  padding: var(--general-spacing);
  height: 100%;
  width: 100%;

  pointer-events: none;
}

.interface.fixed {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--general-spacing);
}

.interface.dynamic {
  position: relative;
  top: -100%;
  padding: 0;
}

.panels {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  gap: var(--general-spacing);
}

/** move helpers to another file */
.flex-col {
  display: flex;
  flex-direction: column;
}

.clear {
  background-color: transparent;
  border: none;
}

.fill {
  width: 100%;
  height: 100%;
}

.inline-center {
  margin-inline: auto;
}

.block-center {
  margin-block: auto;
}

.center {
  margin: auto;
}
