/*
 * @deprecated
 */
.interface {
  position: absolute;
  box-sizing: border-box;
  padding: var(--general-spacing);
  height: 100%;
  width: 100%;

  pointer-events: none;
}

/*
 * @deprecated
 */
.interface.fixed {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--general-spacing);
}

/*
 * @deprecated
 */
.interface.dynamic {
  position: relative;
  top: -100%;
  padding: 0;
}

/*
 * @deprecated
 */
.panels {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  gap: var(--general-spacing);
}

#app-menu {
  pointer-events: all;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: var(--general-spacing);

  width: 150px;
  min-height: 400px;
  z-index: 10;
}

#app-menu > *:last-child {
  /* Selects the last direct child of .container */
  margin-top: auto;
}

#main-toolbar {
  top: var(--general-spacing);
  left: var(--general-spacing);
  display: flex;
  flex-direction: row;
  gap: var(--general-spacing);

  pointer-events: all;
}

#inner-toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--general-spacing);
}

#toolbar-container {
  gap: var(--general-spacing);
}
