* {
  z-index: 1;
}

#app-menu {
  margin: auto;

  width: 150px;
  min-height: 400px;
  z-index: 10;
}

#app-menu > *:last-child {
  /* Selects the last direct child of .container */
  margin-top: auto;
}

.panel {
  position: absolute;
  padding: var(--panel-padding);
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: rgba(85, 88, 169, 0.773);
}

.scrollable-table {
  height: 300px;
  overflow-y: scroll;
  border: none;
}

.alt-row-table table {
  border-collapse: collapse;
}

.alt-row-table tbody tr:nth-child(odd) {
  background-color: #0000005f;
  color: #fff;
}

/* 
.scrollable-table table tbody,
table thead {
  display: block;
}

.scrollable-table thead {
  position: sticky;
  top: var(--panel-padding);
  z-index: 1;
} */

.center {
  text-align: center;
}

.directory tbody th {
  border-collapse: separate;
  border-right: 1px solid white;
}

#main-toolbar {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#inner-toolbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#toolbar-container {
  gap: 10px;
}

.sub-toolbar {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
