* {
  z-index: 1;
}

#app-menu {
  pointer-events: all;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  gap: var(--general-spacing);

  width: 150px;
  min-height: 400px;
  z-index: 10;
}

#app-menu > *:last-child {
  /* Selects the last direct child of .container */
  margin-top: auto;
}

.scrollable {
  height: 300px;
  overflow-y: scroll;
  border: none;
}

table.alt-row-table {
  border-collapse: collapse;
}

.alt-row-table tbody tr:nth-child(odd) {
  background-color: #0000005f;
  color: #fff;
}

.center {
  text-align: center;
}

.directory tr {
  height: 40px;
  padding: 0px;
}

.directory th {
  height: 40px;
  padding: 0px;
}

.directory thead {
  border-bottom: 2px solid white;
}

.directory tbody th {
  border-collapse: separate;
  border-right: 2px solid white;
}

.directory tbody td {
  border-collapse: separate;
  border-right: 1px solid white;
}

.directory tbody td:last-child {
  border-collapse: separate;
  border-right: none;
}

#main-toolbar {
  top: var(--general-spacing);
  left: var(--general-spacing);
  display: flex;
  flex-direction: row;
  gap: var(--general-spacing);

  pointer-events: all;
}

#inner-toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--general-spacing);
}

#toolbar-container {
  gap: var(--general-spacing);
}

.sub-toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--general-spacing);
}

.small-editor {
  float: right;
}

.form-list {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
  border: 1 solid white;
  gap: var(--general-spacing);
}

.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.border {
  border: 1px solid white;
  padding: calc(var(--general-spacing) / 2);
}

.gap {
  gap: var(--general-spacing);
}

.fit-in-container {
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}
